<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success" routerLink="/recipes/new">Nova Receita</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <!-- Loop *ngFor agora renderiza o RecipeItemComponent para cada receita -->
        <app-recipe-item *ngFor="let recipeEl of recipes; let i = index" [recipe]="recipeEl"
            [index]="i"></app-recipe-item>
        <p *ngIf="recipes.length === 0" class="text-center text-muted mt-3">Nenhuma receita encontrada. Adicione uma!
        </p>
    </div>
</div>